<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form action="/task" method="POST">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="task" placeholder="Task" aria-label="Task">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{ message }}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>